@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);
body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}
.top-header {
  float: left;
  width: 100%;
  position: relative;
  background: #04194e;
  text-align: right;
  padding: 10px 0;
}
.top-header ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.top-header ul li {
  float: left;
  margin: 0 10px 0 0;
}
@media (max-width: 767px) {
  .top-header ul li {
    width: 100%;
    float: left;
    text-align: center;
  }
}
.top-header ul li span {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .top-header ul li span {
    width: 100%;
    float: left;
    text-align: center;
    font-size: .9em;
  }
}
.top-header ul li a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 20px;
  float: left;
  margin: 0;
  padding: 0 2px;
}
.top-header ul li a:hover {
  color: #bba10b;
}
.top-header ul li a i.fa-mobile-phone {
  font-size: 1.2em;
}
@media (max-width: 767px) {
  .top-header ul li a {
    width: 100%;
    text-align: center;
  }
}
.header {
  float: left;
  width: 100%;
  position: relative;
}
.header .logo img {
  margin: 5px 0;
}
@media (max-width: 991px) {
  .header .logo img {
    margin: 26px 0 0;
  }
}
@media (max-width: 767px) {
  .header .logo img {
    margin: 5px 0;
  }
}
.header .menu {
  padding: 0;
  float: left;
  margin: 0;
  width: 100%;
}
.header .menu ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0px 0 0;
}
@media (max-width: 767px) {
  .header .menu ul {
    display: none;
  }
}
.header .menu ul li {
  float: left;
  display: inline-block;
  margin: 0 2px;
}
.header .menu ul li a {
  color: #04194e;
  text-decoration: none;
  height: 102px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  display: table-cell;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-bottom: 3px solid transparent;
}
.header .menu ul li a:hover {
  color: #bba10b;
  border-bottom: 3px solid #bba10b;
  background: transparent;
  border-radius: 0;
}
.header .mobile {
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
  display: none;
}
@media (max-width: 767px) {
  .header .mobile {
    display: block;
  }
}
.header .mobile .navbar-right {
  position: relative;
  width: 100%;
  float: right;
}
.header .mobile .navbar-right i {
  color: #000000;
  font-size: 2.6em;
  cursor: pointer;
  float: right;
  padding: 30px 10px 0;
}
@media (max-width: 600px) {
  .header .mobile .navbar-right i {
    font-size: 2em;
    padding: 24px 10px 0;
  }
}
@media (max-width: 480px) {
  .header .mobile .navbar-right i {
    padding: 15px 10px 0;
  }
}
.slider {
  float: left;
  position: relative;
  width: 100%;
  padding: 80px 0;
  background: url(../img/slide/1.jpg) no-repeat;
  background-size: cover;
}
.slider:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
}
.slider h1 {
  float: left;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 4.6em;
  margin: 20px 0 0;
  font-weight: 300;
}
@media (max-width: 480px) {
  .slider h1 {
    font-size: 2em;
    margin: 50px 0 0;
  }
}
.slider h2 {
  float: left;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 5em;
  margin: 120px 0 0;
  font-weight: 300;
}
@media (max-width: 480px) {
  .slider h2 {
    font-size: 2em;
    margin: 50px 0 0;
  }
}
.slider p {
  float: left;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.4em;
  margin: 20px 0;
  font-weight: 300;
}
@media (max-width: 480px) {
  .slider p {
    font-size: 1em;
  }
}
.empresa {
  float: left;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #bba10b;
}
@media (max-width: 767px) {
  .empresa {
    padding: 30px 0;
  }
}
.empresa h3 {
  float: left;
  margin: 0 0 30px 0;
  padding: 0px 0 10px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #ffffff;
  color: #ffffff;
}
.empresa h4 {
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.empresa p {
  float: left;
  width: 100%;
  margin: 0 0 30px;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 30px;
}
.empresa .row {
  margin: 20px 0;
}
.empresa img {
  margin: 10px 0 0;
}
.home-servicios {
  float: left;
  position: relative;
  width: 100%;
  background: #f9f9f9;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .home-servicios {
    padding: 30px 0;
  }
}
.home-servicios h3 {
  float: left;
  margin: 0 0 50px 0;
  padding: 0px 0 10px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #bba10b;
  color: #04194e;
  text-align: center;
}
.home-servicios h4 {
  float: left;
  width: 100%;
  margin: 0 0 10px;
}
.home-servicios ul {
  float: left;
  width: 100%;
  padding: 0;
  list-style: none;
}
.home-servicios ul li {
  float: left;
  width: 100%;
  margin: 5px 10px;
}
.home-servicios ul li:before {
  content: "\f111";
  font-family: FontAwesome;
  color: #bba10b;
  font-size: 0.6em;
  float: left;
  margin: 5px 5px 0 0;
}
.home-servicios p {
  color: #929292;
  padding-bottom: 30px;
  float: left;
  width: 100%;
}
.home-servicios .carro .bxslider_carrozas {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 200px;
}
.home-servicios .carro .bxslider_carrozas li {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 200px;
}
.home-servicios .carro .bxslider_carrozas li a {
  height: 200px;
  float: left;
  width: 100%;
}
.home-servicios .carro .bxslider_carrozas li a img {
  height: 100%;
  width: 100%;
}
.home-servicios .carro .bxslider_carrozas li:before {
  content: none;
}
.home-servicios .carro .bx-controls {
  display: none;
}
.home-servicios .carro .carro_h4 {
  float: left;
  width: 100%;
  position: relative;
  z-index: 10;
  background: #bba10b;
  bottom: 0;
  /* height: 100%; */
  padding: 15px 0;
  height: 40px;
}
.home-servicios .carro .carro_h4 h4 {
  color: #ffffff;
  width: 100%;
  float: left;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 300;
  bottom: 0;
  margin: 0;
}
.home-servicios figure {
  float: left;
  width: 100%;
  position: relative;
  margin: 0 0 30px 0;
}
.home-servicios figure img {
  width: 100%;
  height: 240px;
}
.home-servicios figure figcaption {
  float: left;
  width: 100%;
  position: absolute;
  z-index: 10;
  background: #bba10b;
  bottom: 0;
  /* height: 100%; */
  padding: 15px 0;
  height: 40px;
}
.home-servicios figure figcaption h4 {
  color: #ffffff;
  width: 100%;
  float: left;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: 300;
  bottom: 0;
  margin: 0;
}
.home-servicios figure figcaption ul {
  float: left;
  list-style: none;
  opacity: 0;
  padding: 0 0 0 15px;
}
.home-servicios figure figcaption ul li {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  position: relative;
}
.home-servicios figure figcaption ul li:before {
  content: "\f111";
  font-family: FontAwesome;
  color: #bba10b;
  font-size: 0.6em;
  float: left;
  margin: 5px 5px 0 0;
  position: absolute;
}
.home-servicios figure figcaption ul li small {
  color: #ffffff;
  float: left;
  font-size: 1em;
  margin: 0px 13px;
  padding: 0;
}
.home-servicios figure figcaption .linehover {
  opacity: 0;
  border: 3px solid #bba10b;
  margin: 2% 34% 6%;
  float: left;
  width: 30%;
}
.home-servicios figure figcaption .div_btn {
  float: left;
  width: 100%;
  margin: 10px auto;
  text-align: center;
  opacity: 0;
}
.home-servicios figure figcaption .div_btn .btn_urna {
  background: #bba10b;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  padding: 7px 17px;
}
.home-servicios figure:hover {
  cursor: pointer;
}
.home-servicios figure:hover figcaption {
  background: #04194e;
  height: 100%;
  padding: 20px 0px;
}
.home-servicios figure:hover figcaption ul,
.home-servicios figure:hover figcaption .linehover,
.home-servicios figure:hover figcaption .div_btn {
  opacity: 1;
}
.home-servicios figure:hover figcaption h4 {
  font-size: 1.4em;
}
.convenios {
  float: left;
  position: relative;
  width: 100%;
  background: #ffffff;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .convenios {
    padding: 30px 0;
  }
}
.convenios h3 {
  float: left;
  margin: 0 0 30px 0;
  padding: 0px 0 10px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #bba10b;
  color: #04194e;
  text-align: center;
}
.convenios h4 {
  color: #04194e;
  margin: 0 0 10px;
  float: left;
  width: 100%;
}
.convenios p {
  float: left;
  width: 100%;
  font-size: 1.2em;
  font-weight: 100;
  line-height: 30px;
}
.convenios .bxslider_convenio li:hover {
  border-bottom: 3px solid #bba10b;
}
.intro {
  float: left;
  width: 100%;
  margin: 0;
  background: url(../img/cover.jpg) no-repeat;
  background-size: cover;
  background: #bba10b;
  padding: 30px 0;
}
.intro h1 {
  float: left;
  width: 100%;
  margin: 0;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
}
.intro small {
  float: left;
  width: 100%;
  font-size: .7em;
}
.intro small a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.servicios {
  float: left;
  width: 100%;
  position: relative;
  padding: 60px 0;
  margin: 0;
}
@media (max-width: 767px) {
  .servicios {
    padding: 30px 0;
  }
}
.servicios.azul {
  background: #04194e;
  color: #ffffff;
}
.servicios.gold {
  background: #816e05;
  color: #ffffff;
}
.servicios.blanco {
  background: #ffffff;
  color: #000000;
}
.servicios h4 {
  text-transform: uppercase;
  padding-top: 50px;
  float: left;
  width: 100%;
  margin: 0 0 20px;
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: 500;
}
.servicios p {
  line-height: 1.8;
  float: left;
  width: 100%;
  font-size: 1em;
}
.servicios a {
  text-transform: uppercase;
  padding: 7px 25px;
  float: left;
  text-align: center;
  margin: 20px 0 0;
  background: #ffffff;
  color: #000000;
}
.servicios .bxslider_carrozas {
  float: left;
  width: 100%;
  list-style: none;
}
.servicios .bxslider_carrozas li {
  width: 100%;
  height: 400px;
  background-size: cover;
}
.servicios.urnas {
  float: left;
  width: 100%;
  background: #ffffff;
}
.servicios.urnas .block {
  float: left;
  width: 100%;
  border: 1px solid #f2f2f2;
  padding-bottom: 20px;
  margin: 15px 0;
}
.servicios.urnas .block .bxslider_urnas {
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.servicios.urnas .block .bxslider_urnas li {
  width: 100%;
  height: 220px;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.servicios.urnas .block .bxslider_urnas li a {
  margin: 0;
  float: left;
  width: 100%;
  padding: 0;
  cursor: pointer;
  height: 100%;
}
.servicios.urnas .block h3 {
  font-size: 1em;
  float: left;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 20px 0 10px;
  text-transform: uppercase;
  color: #bba10b;
}
.servicios.urnas .block h4 {
  font-size: 1em;
  float: left;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0;
  text-transform: uppercase;
}
.servicios.urnas .block p {
  padding: 0 15px;
  font-size: .9em;
  line-height: 1.4;
  margin: 10px 0;
  float: left;
  width: 100%;
  text-align: justify;
}
.servicios.urnas .block .boton {
  float: left;
  width: 100%;
  margin: 5px auto;
  text-align: center;
}
.servicios.urnas .block .boton .btn-solicitar {
  margin: 0 auto;
  background: #bba10b;
  color: #ffffff;
  padding: 7px 25px;
  text-align: center;
  font-size: .85em;
  text-transform: uppercase;
  border: 0;
}
.contacto {
  float: left;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background: #04194e;
}
@media (max-width: 767px) {
  .contacto {
    padding: 30px 0;
  }
}
.contacto h3 {
  float: left;
  margin: 0 0 50px 0;
  padding: 0px 0 10px;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 3px solid #bba10b;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 767px) {
  .contacto h3 {
    margin: 0 0 20px 0;
  }
}
.contacto p {
  color: #ffffff;
  float: left;
  width: 100%;
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .contacto p {
    padding-bottom: 15px;
  }
}
.contacto .info-contact {
  float: left;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 0 10px;
}
.contacto .info-contact li {
  float: left;
  width: 100%;
}
.contacto .info-contact li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1em;
}
.contacto .info-contact li a i {
  font-size: 1em;
  margin-right: 10px;
  margin-bottom: 13px;
}
.contacto .info-contact li a i.fa-mobile-phone {
  font-size: 1.2em;
}
.contacto .info-contact li a:hover {
  color: #bba10b;
}
.contacto form input {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 1px;
  height: 40px;
  margin-bottom: 10px;
}
.contacto form textarea {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 1px;
  height: 110px;
}
.contacto form button {
  background: #0E9D27;
  border: 1px solid #139029;
  border-top: 1px solid #15C033;
  border-bottom: 1px solid #0B6B1C;
  border-radius: 1px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 7px 25px;
}
.contacto form button:hover {
  background: #0FB32B;
  border: 1px solid #0E9D27;
}
.contacto form label {
  float: left;
  width: 100%;
}
.contacto form label.error {
  color: #9C9898;
  float: left;
  margin: 5px 0 0;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 600;
}
.mapa {
  float: left;
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
}
.mapa:before {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  float: left;
}
.sb-slidebar {
  background-color: #04194e !important;
  padding: 20px 0px 0;
}
.sb-slidebar .sb-close i {
  position: absolute;
  right: 0;
  top: 3px;
  font-size: 1.6em;
  color: #084C73;
}
.sb-slidebar nav ul {
  float: left;
  margin: 30px 0 0;
  list-style: none;
  width: 100%;
  padding: 0;
}
.sb-slidebar nav ul li {
  float: left;
  width: 100%;
  margin: 0 0 4px 0;
  padding: 0;
}
.sb-slidebar nav ul li a {
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
  float: left;
  width: 100%;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: .85em;
}
.sb-slidebar nav ul li a:hover {
  color: #ffffff;
}
.sb-slidebar nav ul li a i {
  font-size: 2em;
}
footer {
  float: left;
  position: relative;
  width: 100%;
  padding: 10px 0;
  background: #04143a;
  margin: 0;
}
footer h3 {
  float: left;
  width: 100%;
  margin: 0;
  color: #929292;
  font-size: .8em;
  padding: 0;
  text-transform: uppercase;
  line-height: 1;
}
footer a.credits {
  width: 100%;
  float: left;
  text-align: right;
  color: #929292;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  font-size: .8em;
  line-height: 1;
  text-transform: uppercase;
}
footer a.credits:hover {
  color: #bba10b;
  border-bottom: 0;
}
.modal-ex {
  float: left;
  width: 100%;
  position: relative;
}
.modal-ex .modal h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.modal-ex .modal form input,
.modal-ex .modal form textarea {
  border-radius: 1px;
}
.modal-ex .modal form button {
  border: 1px solid #139029;
  border-top: 1px solid #15C033;
  border-bottom: 1px solid #0B6B1C;
  border-radius: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 7px 25px;
}
.modal-ex .modal form button.btn-send {
  background: #0E9D27;
  color: #ffffff;
}
.modal-ex .modal form button.btn-cancel {
  background: #ffffff;
  color: #929292;
  border: 1px solid #ddd;
}
.modal-ex .modal form button.btn-cancel:hover {
  background: #ffffff;
  color: #929292;
  border: 1px solid #ddd;
}
.modal-ex .modal form button:hover {
  background: #0FB32B;
  border: 1px solid #0E9D27;
}
.modal-ex .modal form label {
  float: left;
  width: 100%;
}
.modal-ex .modal form label.error {
  color: #9C9898;
  float: left;
  margin: 1px 0 7px;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 600;
}
.modal-backdrop.in {
  display: none;
}
