@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800);

@blue:			#04194E;
@blue_dark:		#04194E;
@blue_dark_2:	#04143A;

@black:			#000;
@gold:			#BBA10B;
@gold_dark:		#816E05;
@white:			#fff;
@white_2:		#f2f2f2;
@white_3:		#F9F9F9;
@grey:			#929292;
@grey_dark:		#eee;


body{
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}
.top-header{
	float: left;
	width: 100%;
	position: relative;
	background: @blue;
	text-align: right;
	padding: 10px 0;
	ul{
		float: right;
		list-style: none;
		margin: 0;
		padding: 0;
		li{
			float: left;
			margin: 0 10px 0 0;
			@media (max-width: 767px) {
				width: 100%;
				float: left;
				text-align: center;				
			}			
			span{
				color: @white;
				text-transform: uppercase;
				font-weight: 600;
				margin-right: 40px;
				@media (max-width: 767px) {
					width: 100%;
					float: left;
					text-align: center;
					font-size: .9em;
				}				
			}
			a{
				color: @white;
				text-decoration: none;
				margin-right: 20px;
				float: left;
				margin: 0;
				padding: 0 2px;
				&:hover{
					color: @gold;
				}
				i.fa-mobile-phone{
					font-size: 1.2em;
				}
				@media (max-width: 767px) {
					width: 100%;				
					text-align: center;					
				}						
			}		
		}
	}
}
.header{
	float: left;
	width: 100%;
	position: relative;
	.logo{
		img{
			margin: 5px 0;
			@media (max-width: 991px) {
				margin: 26px 0 0;
			}			
			@media (max-width: 767px) {
				margin: 5px 0;
			}			
		}
	}
	.menu{
		padding: 0;
		float: left;
		margin: 0;
		width: 100%;
		ul{
			list-style: none;
			float: right;
			margin: 0;
			padding: 0px 0 0;
			@media (max-width: 767px) {
				display: none;
			}
			li{
				float: left;
				display: inline-block;
				margin: 0 2px;
				a{
					color: @blue;
					text-decoration: none;
					height: 102px;
					margin: 0;
					padding: 0 20px;
					vertical-align: middle;
					display: table-cell;
					text-transform: uppercase;
					letter-spacing: 1px;
					font-weight: 600;
					border-bottom: 3px solid transparent;
					&:hover{
						color: @gold;
						border-bottom: 3px solid @gold;
						background: transparent;
						border-radius: 0;
					}
				}
			}
		}			
	}
	.mobile{
		float: right;
		width: 100%;
		margin: 0;
		padding: 0;
		display: none;
		@media (max-width: 767px) {
			display: block;
		}		
		.navbar-right {				
			position: relative;
			width: 100%;
			float: right;
			i{
				color: @black;								
				font-size: 2.6em;
				cursor: pointer;
				float: right;
				padding: 30px 10px 0;
				@media (max-width: 600px) {
					font-size: 2em;
					padding: 24px 10px 0;
				}				
				@media (max-width: 480px) {
					padding: 15px 10px 0;
				}				
			}
		}	
	}
}
.slider{
	float: left;
	position: relative;
	width: 100%;
	padding: 80px 0;
	background: url(../img/slide/1.jpg) no-repeat; 
	background-size:cover;
	&:before{
		content: '';
		background: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		top: 0;
		position: absolute;
	}
	h1{
		float: left;
		width: 100%;
		text-align: center;
		color: @white;
		text-transform: uppercase;
		font-size: 4.6em;
		margin: 20px 0 0;
		font-weight: 300;
		@media (max-width: 480px) {
			font-size: 2em;
			margin: 50px 0 0;
		}				
	}
	h2{
		float: left;
		width: 100%;
		text-align: center;
		color: @white;
		text-transform: uppercase;
		font-size: 5em;
		margin: 120px 0 0;
		font-weight: 300;
		@media (max-width: 480px) {
			font-size: 2em;
			margin: 50px 0 0; 
		}				
	}
	p{
		float: left;
		width: 100%;
		text-align: center;
		color: @white;
		text-transform: uppercase;
		font-size: 1.4em;
		margin: 20px 0;
		font-weight: 300;
		@media (max-width: 480px) {
			font-size: 1em;
		}				
	}	
}
.empresa{
	float: left;
	position: relative;
	width: 100%;
	padding: 60px 0;
	background: @gold;
	@media (max-width: 767px) {
		padding: 30px 0;
	}	
	h3{
		float: left;				
		margin: 0 0 30px 0;
		padding: 0px 0 10px;
		font-size: 1.8em;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-bottom: 3px solid @white;
		color: @white;
	}
	h4{
		float: left;				
		margin: 0 0 10px 0;
		padding: 0;
		font-size: 1em;
		text-transform: uppercase;
		letter-spacing: 1px;		
	}

	p{
		float: left;
		width: 100%;
		margin: 0 0 30px;
		color: @white;
		font-size: 1.2em;
		font-weight: 100;
		line-height: 30px;		
	}
	.row{
		margin: 20px 0;
	}
	img{
		margin: 10px 0 0;
	}	
}
.home-servicios{
	float: left;
	position: relative;
	width: 100%;
	background: @white_3;
	padding: 60px 0;
	@media (max-width: 767px) {
		padding: 30px 0;
	}	
	h3{
		float: left;				
		margin: 0 0 50px 0;
		padding: 0px 0 10px;
		font-size: 1.8em;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-bottom: 3px solid @gold;
		color: @blue;
		text-align: center;		
	}
	h4{
		float: left;
		width: 100%;
		margin: 0 0 10px;		
	}
	ul{
		float: left;
		width: 100%;
		padding: 0;
		list-style: none;
		li{
			float: left;
			width: 100%;
			margin: 5px 10px;
			&:before{
				content: "\f111";
				font-family: FontAwesome;
				color: @gold;
				font-size: 0.6em;
				float: left;
				margin: 5px 5px 0 0;				
			}			
		}
	}
	p{		
		color: @grey;
		padding-bottom: 30px;
		float: left;
		width: 100%;		
	}
	.carro{
		.bxslider_carrozas{		
			float: left;
			width: 100%;
			list-style: none;
			padding: 0;
			margin: 0;
			height: 200px;
			li{
				float: left;
				width: 100%;
				margin: 0;
				padding: 0;
				height: 100%; 	
				max-height: 200px;
				a{
					height: 200px;
					float: left;
					width: 100%;
					img{						
						height: 100%;
						width: 100%;
					}
				}
				&:before{
					content: none;
				}
			}
		}
		.bx-controls{
			display: none;
		}
		.carro_h4{
			float: left;
			width: 100%;
			position: relative;
			z-index: 10;
			background: @gold;
			bottom: 0;
			/* height: 100%; */
			padding: 15px 0;
			height: 40px;
			h4{
				color: @white;
				width: 100%;
				float: left;
				margin: 0;
				padding: 0;
				text-align: center;		
				text-transform: uppercase;
				//opacity: 0;
				font-size: 1.2em;
				letter-spacing: 2px;
				font-weight: 300;
				bottom: 0;
				margin: 0;
			}		
		}
	}		
	figure{
		float: left;
		width: 100%;
		position: relative;
		margin:0 0 30px 0;
		img{
			width: 100%;
			height: 240px;
		}
		figcaption{
			float: left;
			width: 100%;
			position: absolute;
			z-index: 10;
			background: @gold;
			bottom: 0;
			/* height: 100%; */
			padding: 15px 0;
			height: 40px;
			h4{
				color: @white;
				width: 100%;
				float: left;
				margin: 0;
				padding: 0;
				text-align: center;		
				text-transform: uppercase;
				//opacity: 0;
				font-size: 1.2em;
				letter-spacing: 2px;
				font-weight: 300;
				bottom: 0;
				margin: 0;
			}
			ul{
				float: left;
				list-style: none;
				opacity: 0;
				padding: 0 0 0 15px;
				li{
					float: left;
					width: 100%;
					margin: 0 0 15px;
					position: relative;
					&:before{
						content: "\f111";
						font-family: FontAwesome;
						color: @gold;
						font-size: 0.6em;
						float: left;
						margin: 5px 5px 0 0;
						position: absolute;
					}
					small{												
						color: @white;
						float: left;																		
						font-size: 1em;
						margin: 0px 13px;
						padding: 0;					
					}
				}
			}
			.linehover {
				opacity: 0;						
				border: 3px solid @gold;				
				margin: 2% 34% 6%;
				float: left;
				width: 30%;
			}
			.div_btn{
				float: left;
				width: 100%;
				margin: 10px auto;
				text-align: center;
				opacity: 0;
				.btn_urna{
					background: @gold;
					color: @white;
					text-decoration: none;
					text-align: center;
					padding: 7px 17px;
				}				
			}
		}
		&:hover{
			cursor: pointer;
			figcaption{
				background: @blue;
				height: 100%;
				padding: 20px 0px;
				ul, .linehover, .div_btn{
					opacity: 1;
				}
				h4{
					font-size: 1.4em;
				}
				


			}
		}		
	}
}
.convenios{
	float: left;
	position: relative;
	width: 100%;
	background: @white;
	padding: 60px 0;
	@media (max-width: 767px) {
		padding: 30px 0;
	}	
	h3{
		float: left;				
		margin: 0 0 30px 0;
		padding: 0px 0 10px;
		font-size: 1.8em;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-bottom: 3px solid @gold;
		color: @blue;
		text-align: center;
	}
	h4{		
		color: @blue;
		margin: 0 0 10px;
		float: left;
		width: 100%;		
	}
	p{
		float: left;
		width: 100%;
		font-size: 1.2em;
		font-weight: 100;
		line-height: 30px;		
	}
	.bxslider_convenio{
		li{					
			&:hover{				
				border-bottom: 3px solid @gold;
			}
		}
	}
}
.intro{
	float: left;
	width: 100%;
	margin: 0;
	background: url(../img/cover.jpg)no-repeat;
	background-size: cover;
	background: @gold;
	padding: 30px 0;
	&:before{

	}
	h1{
		float: left;
		width: 100%;
		margin: 0;
		color: @white;
		font-size: 2em;
		text-transform: uppercase;
		font-weight: 300;
	}
	small{
		float: left;
		width: 100%;
		font-size: .7em;
		a{
			color: @white;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
}
.servicios{
	float: left;
	width: 100%;
	position: relative;
	padding: 60px 0;
	margin: 0;
	@media (max-width: 767px) {
		padding: 30px 0;
	}		
	&.azul{
		background: @blue;
		color: @white;
	}
	&.gold{
		background: @gold_dark;
		color: @white;
	}
	&.blanco{
		background: @white;
		color: @black;
	}
	h4{
		text-transform: uppercase;
		padding-top: 50px;
		float: left;
		width: 100%;
		margin: 0 0 20px;
		font-size: 2em;
		letter-spacing: 2px;
		font-weight: 500;
	}
	p{
		line-height: 1.8;
		float: left;
		width: 100%;
		font-size: 1em;
	}
	a{
		text-transform: uppercase;
		padding: 7px 25px;
		float: left;
		text-align: center;
		margin: 20px 0 0;
		background: @white;
		color: @black;
	}
	.bxslider_carrozas{
		float: left;
		width: 100%;
		list-style: none;
		li{
			width: 100%;
			height: 400px;
			background-size: cover;
		}
	}
	&.urnas{
		float: left;
		width: 100%;
		background: @white;
		.block{
			float: left;
			width: 100%;
			border: 1px solid @white_2;
			padding-bottom: 20px;
			margin: 15px 0;			
			.bxslider_urnas{
				float: left;
				width: 100%;
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					width: 100%;
					height: 220px;
					background-size: cover;
					margin: 0;
					padding: 0;
					a{
						margin: 0;
						float: left;
						width: 100%;
						padding: 0;
						cursor: pointer;
						height: 100%;
					}				
				}
			}
			h3{
				font-size: 1em;
				float: left;
				width: 100%;
				text-align: center;
				padding: 0;
				margin: 20px 0 10px;
				text-transform: uppercase;
				color: @gold;

			}
			h4{
				font-size: 1em;
				float: left;
				width: 100%;
				text-align: center;
				padding: 0;
				margin: 0 0 20px 0;
				text-transform: uppercase;
			}			
			p{
				padding: 0 15px;
				font-size: .9em;
				line-height: 1.4;
				margin: 10px 0;
				float: left;
				width: 100%;
				text-align: justify;
			}
			.boton{
				float: left;
				width: 100%;
				margin: 5px auto;
				text-align: center;
				.btn-solicitar{
					margin: 0 auto;
					background: @gold;
					color: @white;
					padding: 7px 25px;
					text-align: center;
					font-size: .85em;				
					text-transform: uppercase;
					border:0;
				}
			}			
		}
	
	}
}
.contacto{
	float: left;
	position: relative;
	width: 100%;
	padding: 60px 0;
	background: @blue;
	@media (max-width: 767px) {
		padding: 30px 0;
	}	
	h3{
		float: left;				
		margin: 0 0 50px 0;
		padding: 0px 0 10px;
		font-size: 1.8em;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-bottom: 3px solid @gold;
		color: @white;
		text-align: center;
		@media (max-width: 767px) {
			margin: 0 0 20px 0;
		}		
	}
	p{		
		color: @white;
		float: left;
		width: 100%;
		padding-bottom: 30px;	
		@media (max-width: 767px) {
			padding-bottom: 15px;	
		}					
	}
	.info-contact{
		float: left;
		width: 100%;
		list-style: none;
		padding: 0;
		margin: 0 0 10px;
		li{
			float: left;
			width: 100%;			
			a{
				color: @white;
				text-decoration: none;
				font-size: 1em;
				i{					
					font-size: 1em;
					margin-right: 10px;
					margin-bottom: 13px;
					&.fa-mobile-phone{
						font-size: 1.2em;
					}
				}
				&:hover{
					color: @gold;		
				}
			}			
		}	
	}
	
	form{
		input{
			background: transparent;
			color: @white;
			border: 1px solid @white;
			border-radius: 1px;			
			height: 40px;
			margin-bottom: 10px;
		}
		textarea{
			background: transparent;
			color: @white;
			border: 1px solid @white;
			border-radius: 1px;
			height: 110px;			
		}
		button{
			background: #0E9D27;
			border: 1px solid #139029;
			border-top: 1px solid #15C033;
			border-bottom: 1px solid #0B6B1C;
			border-radius: 1px;
			color: @white;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;							
			padding: 7px 25px;
			&:hover{
				background: #0FB32B;				
				border: 1px solid #0E9D27;				
			}
		}
		label{
			float: left;
			width: 100%;
			&.error {
				color: #9C9898;
				float: left;
				margin: 5px 0 0;
				text-transform: uppercase;
				font-size: .8em;
				font-weight: 600;
			}		
		}	
	}
}
.mapa{
	float: left;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
	height: 300px;
	&:before{
		content: '';
		background: rgba(0, 0, 0, 0.2);
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
		float: left;

	}
}
.sb-slidebar {
	background-color: @blue !important;	
	padding: 20px 0px 0;
	.sb-close{
		i{
			position: absolute;
			right: 0;
			top: 3px;
			font-size: 1.6em;
			color: #084C73;
		}
	}	
	nav{
		ul{
			float: left;
			margin:30px 0 0;
			list-style: none;
			width: 100%;
			padding: 0;
			li{
				float: left;
				width: 100%;	
				margin: 0 0 4px 0;
				padding:0;			
				a{
					color: @white;
					text-transform: uppercase;
					margin-bottom: 5px;
					float: left;
					width: 100%;
					font-weight: 600;
					letter-spacing: 2px;
					text-decoration: none;
					font-size: .85em;
					&:hover{
						color: @white;
					}
					i{
						font-size: 2em;
					}
				}
			}							
		}
	}
}
footer{
	float: left;
	position: relative;
	width: 100%;
	padding: 10px 0;
	background: @blue_dark_2;	
	margin: 0;
	h3{
		float: left;
		width: 100%;
		margin: 0;
		color: @grey;
		font-size: .8em;
		padding: 0;
		text-transform: uppercase;
		line-height: 1;
	}
	a.credits{
		width: 100%;				
		float: left;
		text-align: right;
		color: @grey;
		margin: 0;
		padding: 0;
		text-decoration: none !important;
		font-size: .8em;
		line-height: 1;
		text-transform: uppercase;
		&:hover{
			color: @gold;
			border-bottom: 0;
		}
	}
}
.modal-ex{
	float: left;
	width: 100%;
	position: relative;
	.modal{
		h4{
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		form{
			input, textarea{								
				border-radius: 1px;							
			}
			button{
				border: 1px solid #139029;
				border-top: 1px solid #15C033;
				border-bottom: 1px solid #0B6B1C;
				border-radius: 1px;
				
				text-transform: uppercase;
				letter-spacing: 1px;
				text-align: center;							
				padding: 7px 25px;				
				&.btn-send{
					background: #0E9D27;
					color: @white;	
				}
				&.btn-cancel{
					background: @white;
					color: @grey;
					border: 1px solid #ddd;
					&:hover{
						background: @white;
						color: @grey;
						border: 1px solid #ddd;
					}
				}
				&:hover{
					background: #0FB32B;				
					border: 1px solid #0E9D27;				
				}
			}
			label{
				float: left;
				width: 100%;
				&.error {
					color: #9C9898;
					float: left;
					margin: 1px 0 7px;
					text-transform: uppercase;
					font-size: .7em;
					font-weight: 600;
				}		
			}			
		}
	}
	
}
.modal-backdrop.in {
	display: none;
}